*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(47, 112, 113);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0,0, 0.5);
    font-size: 8vmin;
    color: rgb(119, 23, 23);
    background-color: darkkhaki;
}
#reset-btn{
    padding: 1rem;
    background-color: rgb(1, 12, 1);
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    background-color: rgb(1, 12, 1);
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none; 
}
#msg{
    color: rgb(243, 230, 208);
    font-size: 5vmin;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}